body{
  overflow-y: scroll;
  overflow-x: scroll;
}
ul { 
  list-style-type: none;

  
  /* position: fixed;
  bottom: 90%;
  left: 0px;
  width: 100%;
  height: 50%*/
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
/* location of items*/
li {
  float:left;
}
/*properties of items*/
li a {

  display:inline-block;
  
  color: white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
}
/*what happen if we put curse on item*/

li a:hover {
  background-color: #000000;
}
/*if we put cursor on Setting*/
.dropdown:hover .dropdown-content{
  display: block;
}
/*it will make a playground of contents*/
.setting-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/*properties of elements in this playground.*/
.setting-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/*background of the contents in Setting if we put on cursor*/
.setting-content a:hover {
	background-color: #DCDCDC;
}

.setting:hover .setting-content{
  display:block;
  

}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.signuplabel{
	position: absolute;
	font-size:16px !important;
	font-style: italic;
	margin-right: auto;
	margin-left: auto;
	top: 55%;
	left: 10%
	width: 5%;
}
.upload{
	
	width: 60%;
	vertical-align:middle;
	border-style:none;
}
.error{
	color: #FF0000;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .signingup {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-auto {
  margin: auto !important;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.bg-dark {
  background-color: #1D2124 !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #007bff !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.card-title {
  margin-bottom: 0.75rem;
}
.bg-primary {
  background-color: #007bff !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important;
}
.text-white {
  color: #fff !important;
}
.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}
.text-center {
  text-align: center !important;
}
.py-3 {
  padding-top: 1rem !important;
}
.py-3 {
  padding-bottom: 1rem !important;
}
.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}
.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
                          /*  you will probably need to use this stuffs in post comments etc.*/

.form-control {
  display:block;
  width:auto;/*hano width yari 90% */
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  padding-left: 40px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}



.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}
/* till here */
.upload-btn-wrappers {

  position: relative;
  overflow: hidden;
  left: 50%;
  display: inline-block;
}

.betweeen {
	position: absolute;
  border: 2px solid gray;
  color: white;
  left: 50px;
  text-align: center;
  background-color: black;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrappers input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/* Cascading of forum */
* {
  margin: 0px;
  padding: 0px;
}

h1 a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Century Gothic;
  font-weight: normal;
  margin-bottom: 15px;
}

div.pane {
  width: 1000px;
  margin: 0px auto;
}

/*div.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

div.loginpane {
  width: 230px;
  display: block;
  position: relative;
  float: left;
  padding: 15px;
}*/

div.forumdesc {
  width: 60%;
  display: block;
  position: relative;
  text-align:left;
  margin-top: 0px;
  margin-left: 0px;
  left: 35%;
  top:15px;
  padding: 15px;


}



div.content {
 /* background-color: #EFEFEF;*/
  text-align: left;
  margin-top: 15px;
  width: 300px;
  display: block;
  position: relative;
  float: left;
  padding:15px;
}

.hed{
  /position:relative;              playes role of positioning/
  background-color:none; #EFEFEF*/
  text-align:left;
  margin-top: 3px;
  margin-left: 10%;
  left: 10%;
  top:35px;
  width: auto%;
  display: block;
  /*float:center;*/
  padding:none;
}
.hedcontent{
position:relative;
  /*background-color: grey; #EFEFEF*/
  text-align:left;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 2px;
  left: 10%;
  width: 60%;
  /*display: block;
  float:center;*/
  padding:none;
}
.hedcontentcomment{
  position:relative;
   /*background-color: indigo; #EFEFEF*/
  text-align:left;
  
  left:15%;
  margin-top: 0px;
  width: 50%;
  display: block;
  /*float:center;*/
  padding:15px;
}
.commentforms{
  position:relative;
 /*background-color:indigo;*/
  text-align: left;
  margin-top: none;
  width: 50%;
 height: auto;

  display: block;
  left: 15%;
  padding:none;
  margin-left:0px;
}

.hedinbox{
  position:absolute;              playes role of positioning/
  background-color:none; /*#EFEFEF*/
  text-align:left;
  margin-top: 35px;
  /*margin-left: 10%;*/
  left: auto;
  top:auto;
  width: auto;
  display: block;
  /*float:center;*/
  padding:none;
}
.hedcontentinbox{
position:relative;
  /*background-color: grey; #EFEFEF*/
  text-align:left;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 2px;
  left: 20px;
  width: 60%;
  /*display: block;
  float:center;*/
  padding:none;
}
.hedcontentcommentinbox{
  position:relative;
   /*background-color: indigo; #EFEFEF*/
  text-align:left;
  
  left:auto;
  margin-top: 0px;
  width: 50%;
  display: block;
  /*float:center;*/
  padding:15px;
}
.commentformsinbox{
  position:relative;
 /*background-color:indigo;*/
  text-align: left;
  margin-top: none;
  width: 50%;
 height: auto;

  display: block;
  left: auto;
  padding:none;
  margin-left:0px;
}
div.newposte {
  background-color:none;
  text-align: left;
  margin-top: auto;
  width: 356px;
  display:block;
  position: relative;/* yari absolute*/
  /*float: left;*/
  padding:15px;
}

div.header h1 {
  margin-left: 15px;
  font-family: Century Gothic;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #0066FF;
}

p{
  font-family: Calibri;

}
 button {
  border-radius: 4px;
  color: #EFEFEF;
  width: 50px;
  padding: 7px;
  font-family: Calibri;
  background-image: linear-gradient(to bottom, #0066FF, #0099FF);
  margin-top: 15px;
  border: none;
}

 .button1 {
  border-radius: 4px;
  color: #EFEFEF;
  width: 100px;
  padding: 7px;
  font-family: Calibri;
  background-image: linear-gradient(to bottom, #0066FF, #0099FF);
  margin-top: 15px;
  border: none;
}
 .sendpost{
  border-radius: 4px;
  color: #EFEFEF;
  width: 200px;
  padding: 7px;
  font-family: Calibri;
  background-image: linear-gradient(to bottom, #0066FF, #0099FF);
  margin-top: 15px;
  border: none;
}
.sendcomment{
  border-radius:none;
  color: #EFEFEF;
  width: 100px;
  padding: 7px;
  font-family: Calibri;
  background-image: linear-gradient(to bottom, #0066FF, #0099FF);
  margin-top:none;
  border: none;
}

.titleoftopic {
  border-radius: 15px;
  width: 200px;
  padding: 7px;
  font-family: Arial;
  margin-top: 15px;
  border: solid;
  background-color:white;
}

input[type="text"]:focus {
  outline-width: 0;
  outline-style: none;
}

input[type="password"]:focus {
  outline-width: 0;
  outline-style: none;
}
  
input[type="submit"]:focus {
  outline-width: 0;
  outline-style: none;
} 

button:focus {
  outline-width: 0;
  outline-style: none;
} 

/*table.category-table {
  width: 100%;
  margin-bottom: 35px;
  font-family: Calibri;
}

table.category-table td.main-category {
  font-size: 16pt;
  font-weight: bold;
}

table.category-table th {
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
}

table.topic-table {

   width: 80%;
  border-collapse: collapse;
  font-family: Calibri;
  
}


START OF THE SCROLLBAR 

.example {
  background-color:none;
  width: 500px;
  height: 600px;
  border: 0px ;
  overflow-y: scroll;
  overflow-x: scroll; /* Add the ability to scroll */
}


/* Hide scrollbar for Chrome, Safari and Opera *
.example::-webkit-scrollbar {
    width: 70px;
}

/* Hide scrollbar for IE and Edge 
.example {
    -ms-overflow-style: none;
}

 END OF THE SCROLLBAL

table.topic-table tr:nth-child(even){
  background-color: #b0c4de;
}
table.topic-table tr:nth-child(odd){
  background-color: #f0f8ff;
}

table.topic-table tr:hover {
  background-color: #1a8cff;
}

table.topic-table th {
  vertical-align: top;
  text-align: left;
  border: 0px solid #ddd;
  font-size: 12pt;
  background-color: #1fc610;
  padding: 4px;
}

table.topic-table td {
  border: 0px solid #ddd;
  font-size: 12pt;
  padding: 20px;
}*/

input#topic {
  border-radius: 10px;
  width: 250px;
  padding: 5px;
  font-family: Arial;
  margin-top: 15px;
  border: none;
  background-color: #DFDFDF;
}

textarea{
  width: 350px;
  height: 100px;
  margin-top: 15px;
  margin-bottom: none;
  border-radius: 8px;
}
.commentplace{
  width: 350px;
  height: 30px;
  margin-top: 15px;
  left: auto;
  margin-bottom: none;
  border-radius: none;
}
.firstinboxplace{
  width: 350px;
  height: 30px;
  margin-top: 145px;
  left: auto;
  margin-bottom: none;
  border-radius: none;
}

a:hover {
  text-decoration: underline;
}

/*table.reply-table {
  font-family: Calibri;
  width: 100%;
}

table.reply-table th {
  vertical-align: top;
  text-align: left;
  font-size: 12pt;
}

table.reply-table td {
  padding-left: 15px;
  vertical-align: top;
  margin-bottom: 5px;
}*/

/*.opt{
  /position: absolute;
  /margin-bottom: 0px;
  float: center;
  /transform: translate(20%,20%);
} */
 

.opt select{
  position: absolute;
  background:#F0F8FF ;

  color: green !important;
  padding: auto;

  width: auto;
  height: 35px;
  border:none;
  font-size: 15px;
  float: center;
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  -webkit-appearance:button;
  outline: none;
}



.opt:hover:before{
  background:#0472ca;
  height: 20px;

}




